{% extends "layout.html" %}

{% set bodyId = "Home" %}

{% block bgInit %}
    <div id="fundo">
    {% endblock bgInit %}

    {% block content %}
        <header>
            <a href="/">
                <img src="/assets/logo.svg" alt="Ecoleta">
            </a>
            <a href="/createpoint">
                <img src="/assets/log-in.svg" alt="Ícone Cadastre">
                <span>Cadastre um ponto de coleta</span>
            </a>
        </header>
        <main>
            <h1>Seu marketplace de coleta de resíduos.</h1>
            <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
            <a href="#">
                <img src="/assets/search.svg" alt="Ícone Pesquisar">
                <span>Pesquisar pontos de coleta</span>
            </a>
        </main>
    {% endblock content %}

    {% block bgEnd %}
    </div>
{% endblock bgEnd %}

{% block footer %}
    {% include "partials/modal.html" %}
    <script src="/scripts/modal.js"></script>
{% endblock footer %}