@media (max-width: 900px) {
    #fundo {
        background-position-x: 72vw;
    }
    .content {
        align-items: center;
        text-align: center;
    }
    header a:nth-child(2) {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }
    main {
        align-items: center;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .cards h1,
    .cards h3,
    .cards h4 {
        text-align: center;
    }
    .field-group {
        flex-direction: column;
        margin: 8px 0 8px 0;
    }
    form .field-group .field:nth-child(2) {
        margin: 0 0 8px 0;
    }
}

@media (min-width: 1700px) {
    #fundo {
        background-position-x: 43vw;
    }
}

@media (max-height: 760px) {
    #fundo {
        background-position-y: 200px;
    }
}