@import "reset.css";
@import "structure.css";
@import "responsive.css";

:root {
  --greenpeace: #34cb79;
  --desaturado: #e1faec;
  --titulo: #322153;
  --texto: #6c6c80;
  --suporte: #a0a0b2;
  --bloco: #ffffff;
  --background: #f0f0f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background: var(--background);
  color: var(--titulo);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}
